{% extends "auth_base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block section_id %}login-form{% endblock section_id %}

{% block auth_section_title %}
<div>
  <div class="sub-heading">Welcome back!</div>
  <h2 class="heading">{% trans "Sign In to Pantry Pilot" %}</h2>

</div>
{% endblock auth_section_title %}

{% block auth_section_form %}
<form class="login" method="POST" action="{% url 'account_login' %}">
  <div class="auth-form-fields">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  </div>
  <div class="auth-form-cta">
    <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
    <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
  </div>
</form>
{% endblock auth_section_form %}