{% extends "auth_base.html" %}

{% load i18n %}

{% load static %}

{% load crispy_forms_tags %} 

{% block title %}{% trans "Sign Up" %}{% endblock title %}

{% block section_id %}sign-up-form{% endblock section_id %}

{% block auth_section_title %}
<div>
  <h2 class="sub-heading">Sign Up</h2>
</div>
{% endblock auth_section_title %}

{% block auth_section_form %}
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  <div class="auth-form-fields">
    {% crispy form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  </div>
  <div class="auth-form-cta">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <p class="text-muted">{% blocktrans %}Already have an account? <a href="{{ login_url }}"
        class="text-decoration-none">Sign in here</a>{% endblocktrans %}
    </p>
  </div>
</form>
{% endblock auth_section_form %}

{% block auth_section_footer %}
{% endblock auth_section_footer %}