{% extends 'base.html' %}

{% block title %}
Pantry
{%endblock title %}

{% block main_content %}
<h1>Pantry Items:</h1>
<form id="pantry-item-form" method="post">
    {{ pantry_item_form }}
    {{ category_form }}
    {% csrf_token %}
    <button id="pantry-submit-button" type="submit">Add</button>
</form>
{% for category in categories %}
<div id="category-{{ category.id }}" class="pantry-category">
    <h2 class="sub-heading" data-category-name="{{ category.category_name }}"> {{ category }} </h2>
    <button type="button" data-type="category-delete" data-category-id="{{ category.id }}" data-category="{{ category }}">Delete category</button>

    {% for pantry_item in category.pantry_items.all %}
    <div id="item-{{ pantry_item.id }}" class="pantry-item">
        <div class="pantry-item-name">{{ pantry_item.name }}</div>
        <div class="pantry-item-quantity">{{ pantry_item.quantity }}</div>
        <div class="pantry-item-units" data-item-units="{{ pantry_item.units }}">{{ pantry_item.get_units_display }}</div>
        <div>
            <button type="button" data-type="pantry-item-update" data-item-id="{{ pantry_item.id }}" data-category-id="{{ category.id }}">Update</button>
            <button type="button" data-type="pantry-item-delete" data-item-id="{{ pantry_item.id }}" data-item-name="{{ pantry_item.name }}">Delete</button>
        </div>
    </div>

    {% empty %}
    <p>No items found.</p>
    {% endfor %}
</div>
{% empty %}
<p>No category found.</p>
{% endfor %}

<!-- Delete confirmation modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Delete item from pantry?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to remove item from pantry?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="delete-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}