{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Recipe
{% endblock title %}

{% block main_content %}
<div class="section-wrapper recipe-detail-page">
    <div class="container">
        <div class="row">
            {% if recipe_detail.success %}
            <div class="col-12 section-heading">
                <h1>{{ recipe_detail.recipe.title }}</h1>
                {% if saved_recipe %}
                <small class="text-success">
                    <i class="fa-solid fa-bookmark"></i> Saved
                </small>
                {% endif %}
            </div>
            <div class="col-12 col-md-4 d-flex align-items-center py-2">
                {% if recipe_detail.recipe.is_external %}
                <img src="{{ recipe_detail.recipe.api_image_url }}" alt="{{ recipe_detail.recipe.title }}">
                {% else %}
                {% if "placeholder" in recipe_detail.recipe.image.url %}
                <img src="{% static 'images/recipe_image_placeholder.webp' %}" 
                    alt="recipe_detail.recipe.title">
                {% else %}
                <img src="{{ recipe_detail.recipe.image.url }}" alt="{{ recipe_detail.recipe.title }}">
                {% endif %}
                {% endif %}
            </div>
            <div class="col-12 col-md-8 recipe-summary d-flex align-items-center py-2 ps-md-5">
                <div class="summary">
                    {{ recipe_detail.recipe.summary|safe }}
                    {% if recipe_detail.recipe.api_source_url %}
                    <br>
                    <br>
                    <em>Source: {{ recipe_detail.recipe.api_source_url }}</em>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-4 recipe-additional-section py-2 pt-md-5">
                <div class="category-section ingredients">
                    <h2 class="sub-heading">Ingredients</h2>
                    <div class="section-body d-flex flex-column">
                        {% if saved_recipe %}
                        {% for ingredient in recipe_detail.recipe.ingredients.all %}
                        <span class="py-2">
                            {% if ingredient.original_name %}
                            {{ ingredient.original_name }}
                            {% else %}
                            {{ ingredient.name|title }}, <em>{{ ingredient.amount }} {{ ingredient.unit }}</em>
                            {% if ingredient.note %}
                            <em>({{ ingredient.note }})</em>
                            {% endif %}
                            {% endif %}
                            {% if matched_ingredients and ingredient in matched_ingredients %}
                            <i class="fa-solid fa-square-check text-success"></i>
                            {% endif %}
                        </span>
                        {% endfor %}
                        {% else %}
                        {% for ingredient in recipe_detail.recipe.ingredients %}
                        <span class="py-2">
                            {% if ingredient.original_name %}
                            {{ ingredient.original_name }}
                            {% else %}
                            {{ ingredient.name|title }}, <em>{{ ingredient.amount }} {{ ingredient.unit }}</em>
                            {% if ingredient.note %}
                            <em>({{ ingredient.note }})</em>
                            {% endif %}
                            {% endif %}
                            {% if matched_ingredients and ingredient in matched_ingredients %}
                            <i class="fa-solid fa-square-check text-success"></i>
                            {% endif %}
                        </span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="category-section cook-time">
                    <h2 class="sub-heading">Cooks in</h2>
                    <div class="section-body">
                        {{ recipe_detail.recipe.cook_time }} minutes
                    </div>
                </div>
                <div class="category-section servings">
                    <h2 class="sub-heading">Serves</h2>
                    <div class="section-body">
                        {{ recipe_detail.recipe.servings }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 recipe-instructions py-2 pt-md-5 ps-md-5">
                <div class="category-section">
                    <h2 class="sub-heading">Instructions</h2>
                </div>
                {{ recipe_detail.recipe.instructions|safe }}
            </div>
            <div class="col-12 form-button-controls">
                {% if saved_recipe %}
                <button type="button" class="btn btn-primary form-button" data-type="recipe-delete"
                    data-recipe-id="{{ recipe_detail.recipe.id }}"
                    data-recipe-title="{{ recipe_detail.recipe.title }}">Delete</button>
                {% else %}
                {% if recipe_detail.recipe.is_external %}
                <a href="{% url 'recipe_save' recipe_detail.recipe.api_recipe_id %}"
                    class="btn btn-primary form-button">Save</a>
                {% endif %}
                {% endif %}
                {% if request.GET.from and request.GET.from == 'meals' %}
                <a href="{% url 'meals' %}"
                    class="btn btn-secondary form-button">Back</a>
                {% else %}
                <a href="{% url 'recipes' %}{% if request.GET.from %}?tab={{ request.GET.from }}{% endif %}"
                    class="btn btn-secondary form-button">Back</a>
                {% endif %}
            </div>
            {% else %}
            <p>Oops - Details for the recipe not found!. Please, try a different recipe or check saved recipes instead.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}

<!-- Pop-up modal to display matched/missing ingredients for recipe
Use base modal -->
{% block modal_title %}
Ingredients List
{% endblock modal_title %}