/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Pridi:wght@200;300;400;500;600;700&family=Tangerine:wght@400;700&display=swap');

:root {
    /* Fonts stylings */
    --primary-font: "Pridi", serif;
    --accent-font: "Tangerine", cursive;
    --secondary-accent-font: "Andada Pro", serif;

    /* Color scheme */
    --light-color: white;
    --secondary-light-color: #D6D5D0;
    --accent-color: #D64040;
    --accent-color-light: #EEABA9;
    --secondary-accent-color: #448260;

    /* height calculations */
    --navbar-brand-height: calc(1.375rem + min(1.5vw, 1.5vh));
    --navbar-height: calc(var(--navbar-brand-height) + 3.25rem);
    /* calculated with bootstrap margins/paddings */
    --nav-link-font-size: calc(0.75rem + min(0.8vw, 0.8vh));
    --auth-main-image-card-height: min(45vw, 45vh);
    --auth-main-image-card-pos-right: calc((100% - var(--auth-image-card-max-height)) * 0.125);

}

/* General styles */
/* ---------------------------------------------------------- */
* {
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    font-size: calc(0.8 * var(--nav-link-font-size));
    display: flex;
    flex-direction: column;
}

header {
    margin-top: var(--navbar-height);
    /* account for overlap with fixed navbar */
}


h1,
.heading,
.navbar-brand {
    font-family: var(--accent-font);
    font-size: calc(4 * var(--nav-link-font-size));
    font-weight: bold;
}

h1,
.heading {
    margin: calc(2 * var(--nav-link-font-size)) 0;
}

.nav-link,
.user-profile,
.sub-heading {
    font-family: var(--secondary-accent-font);
    text-transform: uppercase;
    font-size: var(--nav-link-font-size);
}

.user-profile {
    text-transform: none;
    color: var(--accent-color);
}

.sub-heading {
    margin-bottom: var(--nav-link-font-size);
    color: var(--accent-color);
}

a {
    color: var(--accent-color);
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-main {
    flex: 1 0 auto;
}

.flex-footer {
    flex-shrink: 0;
    margin-top: auto;
}

.hide {
    display: none;
}


/* Custom Button Styling */
/* ---------------------------------------------------------- */
.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--light-color);
    border-radius: 1rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--accent-color-light);
    border-color: var(--accent-color-light);
    color: var(--accent-color);
}

.btn-primary:active,
.btn-primary.active {
    background-color: var(--secondary-accent-color);
    border-color: var(--secondary-accent-color);
    color: var(--light-color);
}

.btn-primary:disabled,
.btn-primary.disabled {
    background-color: var(--secondary-light-color);
    border-color: var(--secondary-light-color);
    color: #6c757d;
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Navbar styling */
/* ---------------------------------------------------------- */
.navbar-brand {
    font-size: var(--navbar-brand-height);
    display: flex;
    align-items: center;
}

.navbar-brand img {
    aspect-ratio: 1;
    height: calc(var(--navbar-brand-height) * 1.5);
    /* height: 30px; */
}

.navbar {
    background-color: var(--light-color);
}


/* Authentication form styling */
/* ---------------------------------------------------------- */
.auth-grid-container {
    height: calc(100vh - var(--navbar-height));
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr 1.5fr 1fr;
    grid-template-areas:
        "image-area header-area"
        "image-area form-area"
        "image-area footer-area"
        "image-area ps-area";
    column-gap: 2rem;
}

.auth-image-container {
    grid-area: image-area;
}

.auth-header {
    grid-area: header-area;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px dotted coral; */
}

.auth-form {
    grid-area: form-area;
}

.auth-form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.auth-form-cta {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-footer {
    grid-area: footer-area;
}

.auth-ps {
    grid-area: ps-area;
}

.auth-form-cta {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auth-form .btn-primary {
    width: 60%;
}

/* Cards styling */
/* ---------------------------------------------------------- */
.square-card {
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    background-color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.square-card-image {
    aspect-ratio: 1;
    width: 90%;
    background-color: var(--accent-color);
}


/* Sign-up section styling */
/* ---------------------------------------------------------- */
.auth-grid-container .auth-image-container {
    /* border: 2px dotted coral; */
    position: relative;
}

.auth-grid-container .square-card {
    position: absolute;
}

.auth-grid-container .square-card:nth-child(1) {
    --card-width: calc(0.4 * var(--auth-main-image-card-height));
    width: var(--card-width);
    right: min(calc(100% - var(--card-width)), calc(var(--auth-main-image-card-height) * 0.55));
    top: calc(50% - (var(--card-width)) * 2.5);
}

.auth-grid-container .square-card:nth-child(2) {
    --card-width: calc(0.6 * var(--auth-main-image-card-height));
    width: var(--card-width);
    top: calc(50% - (var(--card-width)) * 1.25);
    right: min(calc(100% - var(--card-width)), calc(var(--auth-main-image-card-height) * 0.9));
}

.auth-grid-container .square-card:nth-child(3) {
    width: var(--auth-main-image-card-height);
    top: calc(50% - (var(--auth-main-image-card-height) * 0.5));
    right: 0;

}

.auth-grid-container .square-card:nth-child(4) {
    --card-width: calc(0.38 * var(--auth-main-image-card-height));
    width: var(--card-width);
    right: min(calc(100% - var(--card-width)), calc(var(--auth-main-image-card-height) * 0.8));
    top: calc(50% + (var(--card-width)) * 1.25);
}

.auth-grid-container .square-card-image.feature-image-1 {
    background: url('../images/meal-planning.webp') no-repeat center center / cover;
}

.auth-grid-container .square-card-image.feature-image-2 {
    background: url('../images/recipes.webp') no-repeat center center / cover;
}

.auth-grid-container .square-card-image.feature-image-3 {
    background: url('../images/pantry_tracking.webp') no-repeat center center / cover;
}

.auth-grid-container .square-card-image.feature-image-4 {
    background: url('../images/shopping_list.webp') no-repeat center center / cover;
}


#sign-up-form .auth-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Pantry page styling */
/* ---------------------------------------------------------- */
.split-screen {
    display: flex;
    flex-direction: column;
}

.left-screen {
    height: 25vh;
    background: var(--secondary-light-color) url('../images/pantry_tracking.webp') no-repeat center center / cover;
}

#pantry-section.section-wrapper {
    padding-bottom: 4rem;
}

.pantry-category {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.pantry-category-heading {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-light);
    margin-bottom: 1.5rem;
}

.pantry-category-heading>h2 {
    margin: 0;
    flex-grow: 1;
}

.pantry-category-heading>button {
    margin-left: 0.25rem;
}

.pantry-item {
    aspect-ratio: 1;
}

.pantry-item > .card {
    aspect-ratio: 1;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pantry-item .card-text {
    display: flex;
    flex-direction: column;
}

.pantry-item-controls {
    align-self: flex-end;
}

.pantry-item img {
    height: 75%;
    border-radius: 0;
}

.pantry-item-name {
    font-size: var(--nav-link-font-size);
}

.pantry-item-details {
    display: flex;
    gap: 0.25rem;
    font-style: italic;
}

#pantry-section .section-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#pantry-section .section-body-text {
    flex-basis: 100%;
}



/* Footer styling */
/* ---------------------------------------------------------- */
footer {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    background-color: var(--accent-color);
}

footer * {
    color: var(--light-color);
}

.footer-column-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.footer-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-family: var(--accent-font);
}

.footer-site-logo {
    display: block;
    font-size: calc(2.75 * var(--nav-link-font-size));
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.site-socials {
    padding: 1.5rem 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: calc(1.5 * var(--nav-link-font-size));
}

.footer-menus {
    padding-top: 4rem;
}

.footer-menus .sub-heading {
    color: var(--light-color);
}

.footer-menus ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}


.footer-copyright {
    border-top: 1px solid var(--light-color);
    text-align: center;
    padding: 1rem 0;
}

/* Media queries */
/* ---------------------------------------------------------- */
/* For medium devices and larger (>=768px) */
@media screen and (min-width:768px) {

    /* Footer styling */
    footer {
        padding-top: 9rem;
    }

    .footer-column-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-column {
        text-align: left;
        align-items: flex-start;
        max-width: 40%;
    }

    footer .site-logo {
        margin-bottom: 2.5rem;
    }

    .footer-menus ul {
        display: block;
    }

    .footer-menus li {
        line-height: 1.75rem;
    }

}

/* For large devices and larger (>=992px) */
@media screen and (min-width:992px) {

    .navbar .container-fluid {
        padding-left: calc(var(--navbar-height) * 0.25);
        padding-right: calc(var(--navbar-height) * 0.25);
    }

    /* Pantry page styling */
    .split-screen {
        flex-direction: row;
    }

    .screen {
        /* width: 50%; */
    }

    .left-screen {
        width: 40%;
        height: 100vh;
        background: var(--secondary-light-color) url('../images/pantry_tracking.webp') no-repeat center center / cover;
        position: sticky;
        top: 0;
    }

    .right-screen {
        width: 60%;
        min-height: 100vh;
    }

    #pantry-section.section-wrapper {
        padding: 4rem calc(var(--navbar-height) * 0.25);
    }
}