{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block main_content %}
<div id="home-page">
    <div class="page-hero-container">
        <div class="sticky-container">
            <div class="carousel-container">
                <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="5"
                            aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="6"
                            aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="7"
                            aria-label="Slide 8"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_pantry_1.webp' %}" class="d-block w-100"
                                alt="Track your pantry inventory">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_recipe_1.webp' %}" class="d-block w-100"
                                alt="Discover recipes">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_mealplan_2.webp' %}" class="d-block w-100"
                                alt="Plan your meals">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_shopping_1.webp' %}" class="d-block w-100"
                                alt="Smart shopping lists">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_pantry_2.webp' %}" class="d-block w-100"
                                alt="Track your pantry inventory">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_recipe_2.webp' %}" class="d-block w-100" 
                            alt="Discover recipes">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_mealplan_1.webp' %}" class="d-block w-100"
                                alt="Plan your meals">
                        </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <img src="{% static 'images/hero_carousel_shopping_2.webp' %}" class="d-block w-100"
                                alt="Smart shopping lists">
                        </div>
                    </div>
                </div>
                <div class="header-section intro">
                    <div class="header-content">
                        <h1>Pantry Pilot</h1>
                        <p>
                            Your smart kitchen companion for pantry management, recipe discovery and effortless meal
                            planning.
                        </p>
                        <div class="form-button-controls">
                            {% if user.is_authenticated %}
                            <a href="{{ logout_url }}" class="btn btn-primary form-button">Logout</a>
                            {% else %}
                            <a href="{{ signup_url }}" class="btn btn-primary form-button">Sign Up</a>
                            <a href="{{ login_url }}" class="btn btn-info form-button">Login</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if user.is_authenticated%}
                    {% else %}
                    <div id="scroll-down">
                        <div>Learn More</div>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tag-line-container">
            <div class="tag-line-content container">
                <div class="site-logo">
                </div>
                <p class="sub-heading text-center">
                    Welcome to PantryPilot!
                    <br>
                    <br>
                    Transform the way you cook - reduce food waste, and
                    make every meal a delightful experience.
                </p>
            </div>

        </div>
    </div>
    <div class="section-wrapper site-features">
        <div class="container">
            {% if user.is_authenticated %}
            <div class="heading mb-4">Welcome, {{ user.username }}!</div>
            <p class="lead">Here's your personalized pantry dashboard.</p>
            {% else %}
            <div class="heading mb-4">Discover everything you need...</div>
            <p class="mb-4">
                From tracking pantry essentials to planning perfect meals, PantryPilot makes home cooking effortless and
                enjoyable.</p>
            {% endif %}

        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-1 px-md-3">
                <div class="col">
                    <div class="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-jar"></i>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="card-body text-center d-flex flex-column justify-content-between">
                            <h5 class="card-title">Your Pantry</h5>
                            <div class="d-flex justify-content-center g-1">
                                <span><em>Available Items:</em></span>
                                <span>{{ pantry_items_count }}</span>
                            </div>
                            <a href="{% url 'pantry' %}">View All</a>
                        {% else %}
                        <div class="card-body text-center d-flex flex-column justify-content-start">
                            <h5 class="card-title">Manage Pantry</h5>
                            <p class="card-text">Keep track of your ingredients and never run out again</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-book-open"></i>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="card-body text-center d-flex flex-column justify-content-between">
                            <h5 class="card-title">Your Recipes</h5>
                            <div class="d-flex justify-content-center g-1">
                                <span><em>Saved Searches:</em></span>
                                <span>{{ saved_search_count }}</span>
                            </div>
                            <div class="d-flex justify-content-center g-1">
                                <span><em>Personal:</em></span>
                                <span>10</span>
                            </div>
                            <a href="{% url 'recipes' %}">View All</a>
                        {% else %}
                        <div class="card-body text-center d-flex flex-column justify-content-start">
                            <h5 class="card-title">Discover Recipes</h5>
                            <p class="card-text">Find recipes using ingredients on hand or build your
                                own cookbook with treasured family recipes
                            </p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-calendar-plus"></i>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="card-body text-center d-flex flex-column justify-content-between">
                            <h5 class="card-title">Upcoming Meal</h5>
                            {% if upcoming_meal_title %}
                            <em>{{ upcoming_meal_title }}</em>
                            {% else %}
                            <em>No Meal planned for today</em>
                            {% endif %}
                            <a href="{% url 'meals' %}">View Calendar</a>
                        {% else %}
                        <div class="card-body text-center d-flex flex-column justify-content-start">
                            <h5 class="card-title">Plan Meals</h5>
                            <p class="card-text">Plan and visualize your weekly meals with ease with interactive
                                calendar
                            </p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-icon">
                            <i class="fa-solid fa-list-check"></i>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="card-body text-center d-flex flex-column justify-content-between">
                            <h5 class="card-title">Your shopping lists</h5>
                            <div class="d-flex justify-content-center g-1">
                                <span><em>Next shopping:</em></span>
                                <span>....</span>
                            </div>
                            <a href="">View All</a>
                        {% else %}
                        <div class="card-body text-center d-flex flex-column justify-content-start">
                            <h5 class="card-title">Simplify shopping</h5>
                            <p class="card-text">Automatically generate weekly shopping lists for missing ingredients
                            </p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-wrapper end-banner d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <div class="heading">Ready to get started?</div>
            <p>
                Begin your journey - start reducing food waste and start saving money.
            </p>
            <div class="form-button-controls">
                {% if user.is_authenticated %}
                <a href="{{ logout_url }}" class="btn btn-primary form-button">Logout</a>
                {% else %}
                <a href="{{ signup_url }}" class="btn btn-primary form-button">Sign Up</a>
                <a href="{{ login_url }}" class="btn btn-info form-button">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}