{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'pantry' as pantry_url %}
{% url 'recipes' as recipes_url %}
{% url 'dashboard' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Pilot | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="flex-container">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ home_url }}">
                <img src="{% static 'images/pantry_pilot_logo.png' %}" alt="Website logo">
                Pantry Pilot
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current='page'
                            href="{{ home_url }}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == pantry_url %} active {% endif %}" aria-current='page'
                            href="{{ pantry_url }}">Pantry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == recipes_url %} active {% endif %}" aria-current='page'
                            href="{{ recipes_url }}">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %} active {% endif %}" aria-current='page'
                            href="{{ logout_url }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %} active {% endif %}" aria-current='page'
                            href="{{ login_url }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %} active {% endif %}" aria-current='page'
                            href="{{ signup_url }}">SignUp</a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <div class="user-profile ms-5">
                    <i class="fa-solid fa-user"></i>
                    {{ user.username }}
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <header class="flex-header">
        <!-- displaying Django messages -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <main class="flex-main">
        {% block main_content %}
        {% endblock main_content %}

        {% block modal_content %}
        <!-- Base modal -->
        <div class="modal fade" id="base-modal" tabindex="-1" aria-labelledby="base-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="base-modal-label">
                            {% block modal_title %}
                            {% endblock modal_title %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {% block modal_action %}
                        {% endblock modal_action %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock modal_content %}
    </main>

    {% block footer_content %}
    <footer class="flex-footer">
        <div class="container">
            <div class="footer-column-wrapper">
                <div class="site-details footer-column">
                    <a href="" class="footer-site-logo">Pantry Pilot</a>
                    <div class="site-details-paragraph">
                        Your smart kitchen companion for tracking pantry inventory, discovering recipes
                        with your ingredients, and reducing food waste.
                        <br>
                        Simplify meal planning and save money with
                        intelligent shopping lists.
                    </div>
                    <div class="site-socials">
                        <a href="https://www.facebook.com/pantrypilot" target="_blank" rel="noopener noreferrer"
                            aria-label="Follow us on Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.youtube.com/c/pantrypilot" target="_blank" rel="noopener noreferrer"
                            aria-label="Subscribe to our YouTube channel">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a href="https://twitter.com/pantrypilot" target="_blank" rel="noopener noreferrer"
                            aria-label="Follow us on Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/pantrypilot" target="_blank" rel="noopener noreferrer"
                            aria-label="Follow us on Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-menus footer-column">
                    <h3 class="sub-heading">Quick Links</h3>
                    <ul>
                        <li>Home</li>
                        <li>Track Pantry</li>
                        <li>Search Recipes</li>
                        <li>Plan Meals</li>
                        <li>Smart Shopping</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            © {% now "Y" %} PantryPilot. All rights reserved. | All rights reserved.
        </div>
    </footer>
    {% endblock footer_content %}

    <!-- Bootstrap5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <!-- Fontawesome JS -->
    <script src="https://kit.fontawesome.com/a46681dd6d.js" crossorigin="anonymous"></script>

    <!-- GSAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

    <!-- Custom JS -->
    {% block json_data %}
    {% endblock json_data%}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>