{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'pantry' as pantry_url %}
{% url 'dashboard' as home_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry Pilot | {% block title %}{% endblock title %}</title>

    <!-- FontAwesome CSS -->
    <!-- Bootstrap5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ home_url }}">
                <img src="{% static 'images/pantry_pilot_logo.png' %}" alt="Website logo">
                Pantry Pilot
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %} active {% endif %}" 
                           {% if request.path == home_url %} aria-current='page' {% endif %} 
                           href="{{ home_url }}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == pantry_url %} active {% endif %}" 
                           {% if request.path == pantry_url %} aria-current='page' {% endif %}
                           href="{{ pantry_url }}">Pantry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %} active {% endif %}" 
                           {% if request.path == logout_url %} aria-current='page' {% endif %}
                           href="{{ logout_url }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %} active {% endif %}" 
                           {% if request.path == login_url %} aria-current='page' {% endif %} 
                           href="{{ login_url }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %} active {% endif %}" 
                           {% if request.path == signup_url %} aria-current='page' {% endif %} 
                           href="{{ signup_url }}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <!-- displaying Django messages -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    
    <main>
        {% block main_content %}
        {% endblock main_content %}
    </main>
    
    <footer>
        {% block footer_content %}
        {% endblock footer_content %}
    </footer>

    <!-- Bootstrap5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <!-- GSAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>